<div class="container">

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-11 maincontent">
				<header class="page-header">
					<h1 class="page-title">About us</h1>
				</header>

				<h3>Who Are We</h3>
				<p>We are a group of passionate engineers who are interested in the fintech of Bangladesh. </p>

				
				<br>
				<br>
                 <h2 align="center">Our Board Of Directors</h2>
                 <br>
				<h3>Dr. Mohammad Monirujjaman Khan</h3>
				<p><img src="/images/sir.jpg" alt="" class="img-rounded pull-right" width="200px" > Dr. Mohammad Monirujjaman Khan is currently working as an Assistant Professor in the Department of Electrical and Computer Engineering at North South University, Dhaka, Bangladesh. He received the B.Eng. degree in Electrical and Electronic Engineering from Queen Mary University of London (QMUL), United Kingdom, with First Class Honours. Dr Khan received the Draper’s Company Undergraduate Prize 2008 from Queen Mary University of London for outstanding academic merit. He completed his PhD degree in Electrical and Electronic Engineering from Queen Mary University of London (QMUL).</p><br>

				<p> <b>Email: </b> monirujjaman.khan@northsouth.edu</p>
				<p> <b>Contact Number: </b> +88 01779006296</p>
				
				
<br>
<br>
				<h3>Raiyad Raad</h3>
				<p><img src="/images/raad.jpg" alt="" class="img-rounded pull-right" width="200" > Raiyad Raad is a final year undergraduate student in North South University. He is currently doing BS in Computer Science and Engineering. He loves to play with Python and Javascript. He loves to travel and read books in his pastime. </p>

				<p> <b>Email: </b> raiyad.raad@gmail.com</p>
				<p> <b>Contact Number: </b> +88 01743906668</p>

				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
                <h3>Sajidul Amin</h3>
				<p><img src="/images/sajid.jpg" alt="" class="img-rounded pull-right" width="200px" > Sajidul Amin is a final year undergraduate student in North South University. He is currently doing BS in Computer Science and Engineering. Sajid is good at front end developing and software testing. </p>

				<p> <b>Email: </b> sajidul.amin@gmail.com</p>
				<p> <b>Contact Number: </b> +88 01675405158</p>

				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h3>Saddat Ahmed</h3>
				<p><img src="/images/saddat.jpg" alt="" class="img-rounded pull-right" width="200px" > Saddat Ahmed is a final year undergraduate student in North South University. He is currently doing BS in Computer Science and Engineering. He is passionate about hardwares and database. </p>

				<p> <b>Email: </b> saddat.ahmed@gmail.com</p>
				<p> <b>Contact Number: </b> +88 01737686997</p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2 align="center">Our Vision with Fintech</h2>
				<br>
				<br>

				<p>We are aiming to be the best financial aggregation company in Bangladesh. We have worked with 10 private banks of Bangladesh. BankConnectBD aggregate different financial products of those 10 banks and show the best matched results to the user. </p>
				<p>In the future we are going to expand our services. BankConnectBD will add more products from more banks and other non-banking financial institutes. All the procedurs of opening a bank account, getting credit cards, loans, fixed deposits and schemes can be done through our website. Users will lead a hassle free life.</p>
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			

		</div>
	</div>	<!-- /container -->