<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center bold">Select Your Financial Product</h3>
			
			<div class="row" style="margin-left: 60px; margin-right: 60px; margin-bottom: 50px;">
				<div class="col-md-6 col-sm-6 highlight">
					<div class="h-caption"><h4><a href="/creditcards/cardform"><img src="/images/cardimg.png" height="150px" width="190px"></a>
						<br>
						<br>
						<a href="/creditcards/cardform">Credit Cards</a></h4></div>
					<div class="h-body text-center">
						<p>Get the best matched credit cards according to your personal information. </p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 highlight">
					<div class="h-caption"><h4><a href="/loans/loanform"><img src="/images/loansimg.png" height="150px" width="190px"></a>
						<br>
						<br>
						<a href="/loans/loanform">Loans</a></h4></div>
					<div class="h-body text-center">
						<p>Get the best matched loans according to your personal information.</p>
					</div>
				</div>
				
			</div> <!-- /row  -->
		
		</div>
	</div>
	

	