<br>
<br>
<br>

<div class="container">

		<div class="row">
							
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h2 class="thin text-center">Credit Card Information </h2>
							<p align="center"> Type information to get credit cards that matches best for you </p>
							<br>
							<br>
		
		<form method="GET" action="/creditcards/cardresult">

      <div class="form-group">
        <label>Age</label>
        <input type="number" name="age" required> Years
        <p>*Minimum 18 years</p>
      </div>
        <hr>

      <div class="form-group">
        <label>Monthly Income</label>
        <input type="number" name="monthlyincome" required> BDT
        <p>* Minimum 25K BDT </p>
      </div>
        <hr>
			
			<div class="form-group">
				<label>Select the facilities you want most (any two)</label>
				<br>
				<input type="checkbox"  name="lessannualfee" value="1"> Less Annual Fee <br>
				<input type="checkbox" name="lessmonthlyfee" value="1"> Less Monthly Interest Rate <br>
				<input type="checkbox" name="lesslatefee" value="1"> Less Late Payment Fee <br>	
			</div>
				<hr>


			<div class="row">
                  <div class="col-lg-8" align="center">
                    <br><button class="btn btn-dafault" style="background-color:  #d35400
; color: white;" type="submit">Aggregate</button>
                  </div>
          </div>


	</form>

				</div>

			</div>
		</div>
	</div>


</div>



