<div class="container">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	

	<h2> Thanks for applying for the product. We will contact you shortly. </h2>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
		
</div>