<div class="container">

	
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Contact us</h1>
				</header>
				
				<h3>
					We’d love to hear from you.
					<br>
					<br>
					Interested in working together? 
					<br>

					Give us a call on our hotline number or contact through email.
					<br> 
					<br>

					Thank you, you're awesome!
					<br>
					<hr>
					<h3> Find us here </h3>

					<p> <img src="/images/mapnsu.jpg"> </p>
					

				</h3>
				<br>
				<br>
				<br>
				<br>
					
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<br>
					<br>
					<h3>Address</h3>
					<h4>
						North South University, Basundhara, Dhaka-1229, Bangladesh
					</h4>
					<h3>Phone:</h3>
					<h4>
						(+88) 01743906668
					</h4>
					<h3>Email:</h3>
					<h4>
						contact@fintechbd.com
					</h4>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->