 <div class="container">
  <h2>Digital Financial Services List</h2>
  <br>            
  <table id="dfstable" class="table table-striped">
    <thead>
      <tr>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(1)')">Service Name</th>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(2)')">Company</th>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(3)')">Total Agent</th>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(4)')">Mobile Top up</th>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(5)')">Support Credit Card</th>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(6)')">Cash Out From ATM</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr  class="item">
        <td>Bkash</td>
        <td>Brac Bank</td>
        <td>89274</td>
        <td>Supported</td>
        <td>No</td>
        <td>Supported</td>
      </tr>
      <tr  class="item">
        <td>Rocket</td>
        <td>DBBL</td>
        <td>54274</td>
        <td>Supported</td>
        <td>No</td>
        <td>Supported</td>
      </tr>
      <tr  class="item">
        <td>iPay</td>
        <td>Unknown</td>
        <td>Not Needed</td>
        <td>Supported</td>
        <td>Yes</td>
        <td>Supported</td>
      </tr>
      <tr  class="item">
        <td>Surecash</td>
        <td>Progoti Systems</td>
        <td>8274</td>
        <td>Supported</td>
        <td>No</td>
        <td>Supported</td>
      </tr>
      
    </tbody>
  </table>
</div>
