<br>
<br> 

<div class="container" style="margin-bottom:15px; margin-top:15px ;border: 3px solid orange; border-radius: 12px;">
  
  <div class="row equal">
    <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
      <h3><b>bKash</b></h3>
    <hr>
    <p><img src="/images/bkash.png" width="250px"></p>
    <h4>Founded: <i>2010</i>
    </h4>    
  </div>
    <div class="col-xs-6 col-sm-3" style="background-color:skyblue;">
      <h3><b>Brac Bank</b></h3>
    <hr>
    <p><img src="/images/bracbank.png" width="220px"><br>
    </p>
  </div>
    <div class="clearfix visible-xs"></div>
     <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">
      <br>
      <br>
      <br>
      <p class="" >
        Total Agents: 1,80,000 <br>
        Mobile Top Up: Supported<br>
        Online Payments: Supported<br>
        Bill Payments: Supported<br>
        Support Credit Cards: No <br>
        Cash Out From ATM: Yes <br>
        Has Android App: Yes<br>
        Has iOS App: Yes     
      </p>
    
 
  </div>
 
  
    <div class="col-xs-6 col-sm-3" style="background-color:silver;">
      <h3><b>Rating______</b></h3>
      <hr>
      <br>
      <button type="button" class="btn btn-default" style="margin-left: 10px;">Rate This</button><br>
      <br>
      <button type="button" class="btn btn-action" onclick="location.href='https://www.bkash.com' " >Visit Website</button><br>
      <br>
      <br>
    </div>
  </div>
</div>


<div class="container" style="margin-bottom:15px; margin-top:15px ;border: 3px solid orange; border-radius: 12px;">
  
  <div class="row equal">
    <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
      <h3><b>Rocket</b></h3>
    <hr>
    <p><img src="/images/rocket.png" width="250px"></p>
    <h4>Founded: <i>2011</i>
    </h4>    
  </div>
    <div class="col-xs-6 col-sm-3" style="background-color:skyblue;">
      <h3><b>Dutch Bangla Bank</b></h3>
    <hr>
    <p><img src="/images/dbbl.png" width="220px"><br>
    </p>
  </div>
    <div class="clearfix visible-xs"></div>
     <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">
      <br>
      <br>
      <br>
      <p class="" >
        Total Agents: 2,27,074 <br>
        Mobile Top Up: Supported<br>
        Online Payments: Supported<br>
        Bill Payments: Supported<br>
        Support Credit Cards: No <br>
        Cash Out From ATM: Yes <br>
        Has Android App: Yes<br>
        Has iOS App: Yes     
      </p>
    
 
  </div>
 
  
    <div class="col-xs-6 col-sm-3" style="background-color:silver;">
      <h3><b>Rating______</b></h3>
      <hr>
      <br>
      <button type="button" class="btn btn-default" style="margin-left: 10px;">Rate This</button><br>
      <br>
      <button type="button" class="btn btn-action" onclick="location.href='https://www.dutchbanglabank.com/rocket/rocket.html' " >Visit Website</button><br>
      <br>
      <br>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom:15px; margin-top:15px ;border: 3px solid orange; border-radius: 12px;">
  
  <div class="row equal">
    <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
      <h3><b>iPay</b></h3>
    <hr>
    <p><img src="/images/ipay.png" width="250px"></p>
    <h4>Founded: <i>2018</i>
    </h4>    
  </div>
    <div class="col-xs-6 col-sm-3" style="background-color:skyblue;">
      <h3><b>iPay Systems Ltd.</b></h3>
    <hr>
    <p><img src="/images/ipay2.png" width="220px"><br>
    </p>
  </div>
    <div class="clearfix visible-xs"></div>
     <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">
      <br>
      <br>
      <br>
      <p class="" >
        Total Agents: N/A <br>
        Mobile Top Up: Supported<br>
        Online Payments: Supported<br>
        Bill Payments: Not Supported<br>
        Support Credit Cards: Yes <br>
        Cash Out From ATM: Yes <br>
        Has Android App: Yes<br>
        Has iOS App: Yes     
      </p>
    
 
  </div>
 
  
    <div class="col-xs-6 col-sm-3" style="background-color:silver;">
      <h3><b>Rating______</b></h3>
      <hr>
      <br>
      <button type="button" class="btn btn-default" style="margin-left: 10px;">Rate This</button><br>
      <br>
      <button type="button" class="btn btn-action" onclick="location.href='https://www.ipay.com.bd' " >Visit Website</button><br>
      <br>
      <br>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom:15px; margin-top:15px ;border: 3px solid orange; border-radius: 12px;">
  
  <div class="row equal">
    <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
      <h3><b>SureCash</b></h3>
    <hr>
    <p><img src="/images/surecash.png" width="250px"></p>
    <h4>Founded: <i>2015</i>
    </h4>    
  </div>
    <div class="col-xs-6 col-sm-3" style="background-color:skyblue;">
      <h3><b>Rupali Bank</b></h3>
    <hr>
    <p><img src="/images/rupali.jpg" width="220px"><br>
    </p>
  </div>
    <div class="clearfix visible-xs"></div>
     <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">
      <br>
      <br>
      <br>
      <p class="" >
        Total Agents: N/A <br>
        Mobile Top Up: Supported<br>
        Online Payments: Supported<br>
        Bill Payments: Supported<br>
        Support Credit Cards: No <br>
        Cash Out From ATM: Yes <br>
        Has Android App: Yes<br>
        Has iOS App: Yes     
      </p>
    
 
  </div>
 
  
    <div class="col-xs-6 col-sm-3" style="background-color:silver;">
      <h3><b>Rating______</b></h3>
      <hr>
      <br>
      <button type="button" class="btn btn-default" style="margin-left: 10px;">Rate This</button><br>
      <br>
      <button type="button" class="btn btn-action" onclick="location.href='https://www.surecash.net' " >Visit Website</button><br>
      <br>
      <br>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom:15px; margin-top:15px ;border: 3px solid orange; border-radius: 12px;">
  
  <div class="row equal">
    <div class="col-xs-6 col-sm-3" style="background-color:lavender;">
      <h3><b>UCash</b></h3>
    <hr>
    <p><img src="/images/ucash.png" width="250px"></p>
    <h4>Founded: <i>2013</i>
    </h4>    
  </div>
    <div class="col-xs-6 col-sm-3" style="background-color:skyblue;">
      <h3><b>UCB Bank</b></h3>
    <hr>
    <p><img src="/images/ucb.jpg" width="220px"><br>
    </p>
  </div>
    <div class="clearfix visible-xs"></div>
     <div class="col-xs-6 col-sm-3" style="background-color:lightgray;">
      <br>
      <br>
      <br>
      <p class="" >
        Total Agents: 62,000 <br>
        Mobile Top Up: Supported<br>
        Online Payments: Supported<br>
        Bill Payments: Supported<br>
        Support Credit Cards: Yes <br>
        Cash Out From ATM: Yes <br>
        Has Android App: Yes<br>
        Has iOS App: Yes     
      </p>
    
 
  </div>
 
  
    <div class="col-xs-6 col-sm-3" style="background-color:silver;">
      <h3><b>Rating______</b></h3>
      <hr>
      <br>
      <button type="button" class="btn btn-default" style="margin-left: 10px;">Rate This</button><br>
      <br>
      <button type="button" class="btn btn-action" onclick="location.href='https://www.ucash.com.bd/' " >Visit Website</button><br>
      <br>
      <br>
    </div>
  </div>
</div>



<!-- COMMENTING OUT
 <div class="container">
  <h2>Digital Financial Services List</h2>
  <br>            
  <table id="dfstable" class="table table-striped">
    <thead>
      <tr>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(1)')">Service Name</th>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(2)')">Company</th>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(3)')">Total Agent</th>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(4)')">Mobile Top up</th>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(5)')">Support Credit Card</th>
        <th onclick="w3.sortHTML('#dfstable','.item', 'td:nth-child(6)')">Cash Out From ATM</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr  class="item">
        <td>Bkash</td>
        <td>Brac Bank</td>
        <td>89274</td>
        <td>Supported</td>
        <td>No</td>
        <td>Supported</td>
      </tr>
      <tr  class="item">
        <td>Rocket</td>
        <td>DBBL</td>
        <td>54274</td>
        <td>Supported</td>
        <td>No</td>
        <td>Supported</td>
      </tr>
      <tr  class="item">
        <td>iPay</td>
        <td>Unknown</td>
        <td>Not Needed</td>
        <td>Supported</td>
        <td>Yes</td>
        <td>Supported</td>
      </tr>
      <tr  class="item">
        <td>Surecash</td>
        <td>Progoti Systems</td>
        <td>8274</td>
        <td>Supported</td>
        <td>No</td>
        <td>Supported</td>
      </tr>
      
    </tbody>
  </table>
</div>
-->
