<div class="container">
  <h2>Digital Financial Services List</h2>
  <br>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Service Name</th>
        <th>Company</th>
        <th>Total Agent</th>
        <th>Mobile Top up</th>
        <th>Support Credit Card</th>
        <th>Cash Out From ATM</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bkash</td>
        <td>Brac Bank</td>
        <td>89274</td>
        <td>Supported</td>
        <td>No</td>
        <td>Supported</td>
      </tr>
      <tr>
        <td>Rocket</td>
        <td>DBBL</td>
        <td>54274</td>
        <td>Supported</td>
        <td>No</td>
        <td>Supported</td>
      </tr>
      <tr>
        <td>iPay</td>
        <td>Unknown</td>
        <td>Not Needed</td>
        <td>Supported</td>
        <td>Yes</td>
        <td>Supported</td>
      </tr>
      <tr>
        <td>Surecash</td>
        <td>Progoti Systems</td>
        <td>8274</td>
        <td>Supported</td>
        <td>No</td>
        <td>Supported</td>
      </tr>
      
    </tbody>
  </table>
</div>
