<form method="post" action="/users/editprofile">
          <div class="form-group">
                  <label>Mobile Number <span class="text-danger">*</span></label>
                  <input type="number" class="form-control" name="mobile">
                </div>

          <div class="form-group">
                  <label>Full Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="fullname">
                </div>

                <div class="row">
                  <div class="col-lg-8">
                    <br><button class="btn btn-dafault" type="submit">Register</button>
                  </div>
                </div>
</form>
        