<div class="container">
  <h2>Fixed Deposit List</h2>
  <br>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bank Name</th>
        <th>1st Month</th>
        <th>3rd Month</th>
        <th>6th Month</th>
        <th>1 Year</th>
        <th>2 Years</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>AB Bank</td>
        <td>5%</td>
        <td>6%</td>
        <td>8.5%</td>
        <td>9%</td>
        <td>9%</td>
      </tr>
      <tr>
        <td>Brac Bank</td>
        <td>3%</td>
        <td>6%</td>
        <td>7.5%</td>
        <td>7.5%</td>
        <td>8%</td>
      </tr>
      <tr>
        <td>Dhaka Bank</td>
        <td>4%</td>
        <td>5.5%</td>
        <td>5.5%</td>
        <td>6%</td>
        <td>6%</td>
      </tr>
      <tr>
        <td>Eastern Bank</td>
        <td>2.5%</td>
        <td>3.5%</td>
        <td>3.5%</td>
        <td>4%</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>National Bank</td>
        <td>6%</td>
        <td>6%</td>
        <td>8.5%</td>
        <td>8.5%</td>
        <td>8.5%</td>
      </tr>
      <tr>
        <td>Southeast Bank</td>
        <td>4%</td>
        <td>6%</td>
        <td>6.5%</td>
        <td>7%</td>
        <td>7%</td>
      </tr>
      <tr>
        <td>AB Bank</td>
        <td>5%</td>
        <td>6%</td>
        <td>8.5%</td>
        <td>9%</td>
        <td>9%</td>
      </tr>
      <tr>
        <td>Brac Bank</td>
        <td>3%</td>
        <td>6%</td>
        <td>7.5%</td>
        <td>7.5%</td>
        <td>8%</td>
      </tr>
      <tr>
        <td>Dhaka Bank</td>
        <td>4%</td>
        <td>5.5%</td>
        <td>5.5%</td>
        <td>6%</td>
        <td>6%</td>
      </tr>
      <tr>
        <td>Eastern Bank</td>
        <td>2.5%</td>
        <td>3.5%</td>
        <td>3.5%</td>
        <td>4%</td>
        <td>5%</td>
      </tr>
      <tr>
        <td>National Bank</td>
        <td>6%</td>
        <td>6%</td>
        <td>8.5%</td>
        <td>8.5%</td>
        <td>8.5%</td>
      </tr>
      <tr>
        <td>Southeast Bank</td>
        <td>4%</td>
        <td>6%</td>
        <td>6.5%</td>
        <td>7%</td>
        <td>7%</td>
      </tr>
      
    </tbody>
  </table>
</div>
