<div class="container">
  <h2>Fixed Deposit List</h2>
  <br>            
  <table id="fdtable" class="table table-striped">
    <thead>
      <tr>
        <th onclick="w3.sortHTML('#fdtable','.item', 'td:nth-child(1)')">Bank Name</th>
        <th onclick="w3.sortHTML('#fdtable','.item', 'td:nth-child(2)')">1st Month</th>
        <th onclick="w3.sortHTML('#fdtable','.item', 'td:nth-child(3)')">3rd Month</th>
        <th onclick="w3.sortHTML('#fdtable','.item', 'td:nth-child(4)')">6th Month</th>
        <th onclick="w3.sortHTML('#fdtable','.item', 'td:nth-child(5)')">1 Year</th>
        <th onclick="w3.sortHTML('#fdtable','.item', 'td:nth-child(6)')">2 Years</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="item">
        <td>AB Bank</td>
        <td>5%</td>
        <td>6%</td>
        <td>8.5%</td>
        <td>9%</td>
        <td>9%</td>
      </tr>
      <tr class="item">
        <td>Brac Bank</td>
        <td>3%</td>
        <td>6%</td>
        <td>7.5%</td>
        <td>7.5%</td>
        <td>8%</td>
      </tr>
      <tr class="item">
        <td>Dhaka Bank</td>
        <td>4%</td>
        <td>5.5%</td>
        <td>5.5%</td>
        <td>6%</td>
        <td>6%</td>
      </tr>
      <tr class="item">
        <td>Eastern Bank</td>
        <td>2.5%</td>
        <td>3.5%</td>
        <td>3.5%</td>
        <td>4%</td>
        <td>5%</td>
      </tr>
      <tr class="item">
        <td>National Bank</td>
        <td>6%</td>
        <td>6%</td>
        <td>8.5%</td>
        <td>8.5%</td>
        <td>8.5%</td>
      </tr>
      <tr class="item">
        <td>Southeast Bank</td>
        <td>4%</td>
        <td>6%</td>
        <td>6.5%</td>
        <td>7%</td>
        <td>7%</td>
      </tr>
      <tr class="item">
        <td>AB Bank</td>
        <td>5%</td>
        <td>6%</td>
        <td>8.5%</td>
        <td>9%</td>
        <td>9%</td>
      </tr>
      <tr class="item">
        <td>Brac Bank</td>
        <td>3%</td>
        <td>6%</td>
        <td>7.5%</td>
        <td>7.5%</td>
        <td>8%</td>
      </tr>
      <tr class="item">
        <td>Dhaka Bank</td>
        <td>4%</td>
        <td>5.5%</td>
        <td>5.5%</td>
        <td>6%</td>
        <td>6%</td>
      </tr>
      <tr class="item">
        <td>Eastern Bank</td>
        <td>2.5%</td>
        <td>3.5%</td>
        <td>3.5%</td>
        <td>4%</td>
        <td>5%</td>
      </tr>
      <tr class="item">
        <td>National Bank</td>
        <td>6%</td>
        <td>6%</td>
        <td>8.5%</td>
        <td>8.5%</td>
        <td>8.5%</td>
      </tr>
      <tr class="item">
        <td>Southeast Bank</td>
        <td>4%</td>
        <td>6%</td>
        <td>6.5%</td>
        <td>7%</td>
        <td>7%</td>
      </tr>
      
    </tbody>
  </table>
</div>
