	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">FintechBD LTD</h1>
				<h2 class="lead">The Future Of Aggregated Banking</h2>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="bold">INTRO</h2>
		<p class="text-muted">
			FintechBD is an online financial service aggregator. It helps the users to select the best suitable finacial services like credit/debit cards, loans, fixed deposits and digital financial services from different banks and financial instituitions form all over the country. It is a platform to bring all the banks and financial instuitions in one marketplace. Customers will be relieved from the hassle to go one bank to another and get confused with the complex service charges. All the information in our portal is updated and made easier to understand by the customers.  
		</p>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center bold">OUR FEATURES</h3>
			
			<div class="row">

				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"> 
						<h4> 
							<a href="#"> <i class="fa fa-credit-card fa-5"></i> </a> 
							<a href="#"> Credit Cards </a> 
						</h4> 
					</div>
					<div class="h-body text-center">
						<p></p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"> 
						<h4> 
							<a href="#"> <i class="fa fa-money fa-5"></i> </a> 
							<a href="#"> Loans </a> </h4> 
					</div>
					<div class="h-body text-center">
						<p> </p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"> 
						<h4> 
							<a href="#"> <i class="fa fa-suitcase fa-5"></i> </a>
							<a href="#"> Fixed Deposits </a> 
						</h4> 
					</div>
					<div class="h-body text-center">
						<p></p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"> 
						<h4> 
							<a href="#"> <i class="fa fa-mobile"></i> </a> 
							<a href="#"> DFS </a> 
						</h4> 
					</div>
					<div class="h-body text-center">
						<p> </p>
					</div>
				</div>

			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Frequently Asked Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>What is FintechBD? </h3>
				<p>FintechBD is an online financial service aggregator. It helps the users to select the best suitable finacial services like credit/debit cards, loans, fixed deposits and digital financial services from different banks and financial instituitions form all over the country. It is a platform to bring all the banks and financial instuitions in one marketplace. Customers will be relieved from the hassle to go one bank to another and get confused with the complex service charges. All the information in our portal is updated and made easier to understand by the customers. </p>
			</div>
			<div class="col-sm-6">
				<h3>Do I have to pay to use FintechBD's services? </h3>
				<p>We keep services on FintechBD free of charge. There are absolutely no fees or charges involved.
					</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Do I have to submit any documents when using FintechBD services? </h3>
				<p>No. We only need primary material such as name, contact details and the desired banking products from you should you choose to use our services. All following credentials needed are processed by the bank of your choice - you will submit all your documents directly to them.
					
				</p>
			</div>
			<div class="col-sm-6">
				<h3>What is the relationship between SmartKompare and the banks?</h3>
				<p>We act as bridge. We process your reviews and line them up with the banks that offer the most appropriate services. We are not affiliated with any banks in Bangladesh.</p>
			</div>
		</div> <!-- /row -->

		<div class="jumbotron top-space">
			<h4></h4>
     		<p class="text-right"><a class="btn btn-primary btn-large">Aggregate</a></p>
  		</div>

</div>	<!-- /container -->