<div class="container">

		<div class="row">
							
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h2 class="thin text-center">Loan Information </h2>
		
		<form method="GET" action="/loans/result">
			
			<div class="form-group">
				<label>Profession</label>
				<br>
				<input type="radio"  name="profession" value="Salaried Executive"> Salaried Executive <br>
				<input type="radio" name="profession" value="Professionals"> Professionals<br>
				<input type="radio" name="profession" value="Business Person"> Business Person<br>
				<input type="radio" name="profession" value="Self Employed"> Self Employeed<br>	
			</div>
				<hr>
				
			<div class="form-group">
				<label>Loan Amount</label>
				<select name="loanamount">
  				<option value="50000-100000">50000-100000</option>
  				<option value="101000-500000">101000-500000</option>
  				<option value="505000-1000000">505000-1000000</option>
  				<option value="1010000-2000000">1010000-2000000</option>
  				<option value="2020000-3000000">2020000-3000000</option>
  				<option value="3030000-4000000">3030000-4000000</option>
  				<option value="4040000-5000000">4040000-5000000</option>
  				<option value="5050000-10000000">5050000-10000000</option>
  				<option value="10010000-20000000">10010000-20000000</option>
  				<option value="20020000-50000000">20020000-50000000</option>
  				<option value="50050000-75000000">50050000-75000000</option>
  				<option value="75050000-100000000">75050000-100000000</option>
				</select>
			</div>
				<hr>

			<div class="form-group">
				<label>Age</label>
				<select name="age">
  				<option value="less than 18">Less Than 18</option>
  				<option value="18-21">18-21</option>
  				<option value="22-25">22-25</option>
  				<option value="26-35">26-35</option>
  				<option value="35-70">35-70</option>
				</select>
			</div>
				<hr>


			<div class="form-group">

			<label>Loan Tenure </label>
								
  				<select name="loantenure">
  					<option value="1">1</option>
  					<option value="2">2</option>
  					<option value="3">3</option>
  					<option value="4">4</option>
  					<option value="5">5</option>
  					<option value="6">6</option>
  					<option value="10">10</option> <hr> 
				</select>

			</div>

			<div class="row">
                  <div class="col-lg-8">
                    <br><button class="btn btn-dafault" type="submit">Aggregate</button>
                  </div>
          </div>

	</form>

				</div>

			</div>
		</div>
	</div>


</div>



