<br>
<br>

<div class="container">

		<div class="row">
							
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h2 class="thin text-center">Loan Information </h2>
              <p>Type information below to get best loans from different banks for you.</p>
              <br>
		
		<form method="GET" action="/loans/result">
			
			<div class="form-group">
				<label>Profession</label>
				<br>
				<input type="radio"  name="profession" value="Salaried Executive"> Salaried Executive <br>
				<input type="radio" name="profession" value="Professionals"> Professionals<br>
				<input type="radio" name="profession" value="Business Person"> Business Person<br>
				<input type="radio" name="profession" value="Self Employed"> Self Employeed<br>	
			</div>
				<hr>
				
			<div class="form-group">
				<label>Loan Amount</label>
				<input type="number" name="loanamount" required> BDT
				

			</div>
				<hr>

			<div class="form-group">
				<label>Age</label>
				<input type="number" name="age" required> Years
        <p>Should be 18+</p>
			</div>
				<hr>


			<div class="form-group">

			<label>Loan Tenure </label>
								
  				<select name="loantenure"> 
  					<option value="1">1</option>
  					<option value="2">2</option>
  					<option value="3">3</option>
  					<option value="4">4</option>
  					<option value="5">5</option>
  					<option value="6">6</option>
  					<option value="7">7</option>
  					<option value="8">8</option>
  					<option value="9">9</option>
  					<option value="10">10</option>
  					<option value="11">11</option>
  					<option value="12">12</option>
  					<option value="13">13</option>
  					<option value="14">14</option>
  					<option value="15">15</option>
  					<option value="16">16</option>
  					<option value="17">17</option>
  					<option value="18">18</option>
  					<option value="19">19</option>
  					<option value="20">20</option>
  					<option value="21">21</option>
  					<option value="22">22</option>
  					<option value="23">23</option>
  					<option value="24">24</option>
  					<option value="25">25</option>
  					<hr> 
				</select> Years

			</div>

			<div class="row">
                  <div class="col-lg-8">
                    <br><button class="btn btn-dafault" style="background-color:  #d35400
; color: white;" type="submit">Aggregate</button>
                  </div>
          </div>

	</form>

				</div>

			</div>
		</div>
	</div>


</div>



