<!-- container -->
	<div class="container">

		

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent ">
				<header class="page-header">
					<h1 class="page-title">The Fintech Company Ltd</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h2 class="thin text-center">Login</h2>
							
							

							<form method="post" action="/users/login">
								
								
								<div class="form-group">
									<label>Username<span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="username">
								</div>

								<div class="form-group">
									<label>Password <span class="text-danger">*</span></label>
										<input type="password" class="form-control" name="password">
			
								</div>

								<div class="row">
									<div class="col-lg-8">
										<button class="btn btn-action" href="/users/register" type="submit">Not a member?REGISTER</button>
	               
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-default" type="submit">Login</button>
									</div>

							</form>
									
								</div>
								<div class="col-md-8 widget">
						<h2 class="widget-title">Also Sign Up with </h2>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-twitter fa-2x"></i></a>
								<a href=""><i class="fa fa-google-plus fa-2x"></i></a>
								<a href=""><i class="fa fa-github fa-2x"></i></a>
								<a href=""><i class="fa fa-facebook fa-2x"></i></a>
							</p>	
						</div>
					</div>
							
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->

