<div class="container">

	
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-11 maincontent">
				<header class="page-header">
					<h1 class="page-title">User Profile </h1>
				</header>

				<form action="" >
					<br>
					<div class="top-margin">
								<div class="form-group">
									<label>Full Name</label>
									<input type="text" class="form-control">
								</div>
									<label>Profession</label><br>
									 <input type="radio"  name="Profession" value="Job holder"> Job <br>
  									<input type="radio" name="Profession" value="business"> Business<br>
  									<input type="radio" name="Profession" value="Both"> Both
								</div>
								<div class="top-margin">
									<label>Work Place</label>
									<input type="text" class="form-control">
								</div>
								<div class="top-margin">
									<label>Designation</label>
									<input type="text" class="form-control">
								</div>
								<div class="top-margin">
									<label>Salary</label>
									<input type="number" class="form-control">
								</div>
								<div class="top-margin">
									<label>Job Experience(in years)</label>
									<input type="text" class="form-control">
								</div>
								<div class="top-margin">
									<label>Gender</label><br>
									<input type="radio" name="gender" value="male" checked> Male<br>
  									<input type="radio" name="gender" value="female"> Female<br>
  									<input type="radio" name="gender" value="other"> Other
								</div>
								<div class="top-margin">
									 <label>Date of Birth</label><br>
  										<input type="date" name="dob">
								</div>

								<div class="top-margin">
									<label>Job Situation</label><br>
									<input type="checkbox" name="Js" value="Permanent">Permanent<br>
  									<input type="checkbox" name="Js" value="Temporary">Temporary
								</div>
								<div class="top-margin">
									<label>Currently Living in?</label><br>
									<input type="checkbox" name="home" value="Owner">Owner<br>
  									<input type="checkbox" name="Home" value="Rented">Rented
								</div>
								<div class="top-margin">
									<label>Address</label>
									<input type="text" class="form-control">
								</div>
								<div class="top-margin">
									<label>NID Number</label>
									<input type="text" class="form-control">
								</div>

								<div class="top-margin">
									<label>Passport Number(if no NID)</label>
									<input type="text" class="form-control">
								</div>

								<div class="top-margin">
									<label>Do you have any Loans?</label><br>
									<input type="checkbox" name="Loans" value="Yes">Yes<br>
  									<input type="checkbox" name="Loans" value="No">No
								</div>
								<div class="top-margin">
									<label>Do you have any Credit Cards?</label><br>
									<input type="checkbox" name="CC" value="Yes">Yes<br>
  									<input type="checkbox" name="CC" value="No">No
								</div>


								<div class="top-margin">
									 <label>Upload a Profile Picture</label><br>
  										<input type="file" name="Propic"><br>
  									<input type="submit" value="Upload">
								</div>


								<div class="row top-margin">
									
									
								</div>

								

								<div class="row">
									<div class="col-lg-8">
										<label class="checkbox">
											<input type="checkbox"> 
											I Agree with the Terms and Conditions Of the Company Regarding Data Privicy </a>
										</label>                        
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit">Update User Information </button>
									</div>
								</div>
							</form>

				
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			

		</div>
	</div>	<!-- /container -->