<div class="container">
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-11 maincontent">
				<header class="page-header">
					<h1 class="page-title">User Profile </h1>
				</header>

				<h2>Name:</h2>
				<p></p>

		<form action="" > 
					<br>
					<div class="top-margin">

						</div>
								<div class="top-margin">
									<label>Gender: </label><br>
								</div>

								<div class="top-margin">
									 <label>Age :</label><br>
								</div>	 

								<div class="top-margin">
									<label>Profession: </label><br>
								</div>

								<div class="top-margin">
									<label>Work Place: </label><br>
								</div>
									
								
								<div class="top-margin">
									<label>Designation: </label>
								</div>

								<div class="top-margin">
									<label>Salary: </label>
								</div>

								<div class="top-margin">
									<label>Job Experience(in years): </label>
								</div>

								<div class="top-margin">
									<label>Job Situation</label><br>
								</div>
								
								<div class="top-margin">
									<label>Home Condition: </label>
								</div>

								<div class="top-margin">
									<label>Address: </label>
								</div>

								<div class="top-margin">
									<label>Mobile Number: </label>
								</div>

								<div class="top-margin">
									<label>NID Number: </label>
								</div>

								<div class="top-margin">
									<label>Passport Number(if no NID): </label>
								</div>

								<div class="top-margin">
									<label>Have previous loans:</label><br>
								</div>

								<div class="top-margin">
									<label>Have credit cards:</label><br>
								</div>

								<div class="row top-margin">
									</div>
					</div>
		</form>

				
				
			</article>
			
	</div>
	
</div>	
	