<!-- container -->
	<div class="container">

		

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent ">
				<header class="page-header">
					<h1 class="page-title">The Fintech Company Ltd</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h2 class="thin text-center">Register</h2>
							
							
<!-- Form error handling starts -->
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<!-- Form error handling ends -->

							<form method="post" action="/users/register">
								
								<div class="form-group">
									<label>User Name <span class="text-danger">*</span> </label>
									<input type="text" class="form-control" name="username">
								</div>

								<div class="form-group">
									<label>Email Address <span class="text-danger">*</span></label>
									<input type="text" class="form-control" name="email">
								</div>

								<div class="form-group">
									<label>Password <span class="text-danger">*</span></label>
									<input type="password" class="form-control" name="password">
								</div>

								<div class="form-group">
									<label>Mobile Number <span class="text-danger">*</span></label>
									<input type="number" class="form-control" name="mobile">
								</div>

								
								<div class="col-lg-4 text-right">
									<br><button class="btn btn-dafault" type="submit" style="background-color: #27AE60; color: white;">Register</button>
								</div>
								<hr>
								
									
							</form>

							<div class="col-lg-4 text-left">
										
								<button class="btn btn-action" onclick="location.href='/users/login' ">Already have an account? Login Here. </button>

							</div>
							<hr>

								<div class="col-md-8 widget" style="margin-left: 150px;">
						
						<h2 class="widget-title">Also Sign in with </h2>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-twitter fa-2x"></i></a>
								<a href=""><i class="fa fa-google-plus fa-2x"></i></a>
								<a href=""><i class="fa fa-github fa-2x"></i></a>
								<a href=""><i class="fa fa-facebook fa-2x"></i></a>
							</p>	
						</div>
					</div>
							
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->